<article class="post">
  <div class="title">
    <h2>{{title}}  ${{price}}.00 </h2>
    <h3>{{short_desc}} </h3>
    <h4>Located in {{city}}</h4>
  </div>
  <div class="meta">
    
    <span> {{extend_desc}}</span>
  </div>
</article>