<article class="post">
  <div class="title">
    <a href="{{short_desc}}" target="_blank">{{title}}</a>
    <span>{{short_desc}}</span>
  </div>
  <div class="meta">
    
    <span>${{price}}.00   {{city}}</span>
  </div>
</article>