<article class="post">
  <div class="title">
    <a href="{{short_desc}}" target="_blank">{{title}}</a>
    <span>({{short_desc}})</span>
  </div>
  <div class="meta">
    |
    <a href="/post/{{id}}">{{comments.length}} {{comments.length}}</a>
  </div>
</article>